*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.container{
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:20px 20px;
}

h1{
    font-size: 30px;
    padding: 24px;
    text-align: center;
    color: purple;
}

#main-container{
    position:relative;
    border: 2px solid purple;
    box-shadow: 0 0 0.15em 0.15em rgb(157, 110, 110);    width: 500px;
    height: 500px;
    
}

.ball{
    background-image: url('giphy.gif');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
}

/* *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#mainCont{
    margin: 50px 500px ;
}

h1{
    font-size: 30px;
    padding: 24px;
    text-align: center;
    color: purple;
}
.container{
    width: 500px;
    height: 500px;
    border: 2px solid purple;
    box-shadow: 0 0 0.15em 0.15em rgb(157, 110, 110);
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.ball{
    position: absolute;
    border-radius: 50%;
    /* height: 20px; */
    /* width: 20px;
    background: rgb(117, 73, 158); */
    /* background-image: url("ant.png");

} */ 